.container--map1 {
  background: white;
}

.paragraph--hello {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 400pc;

}
.paragraph--map1{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #232f3e;
  margin: 50px
}
.paragraph--map2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 250px;
  color:#232f3e;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
  margin-bottom: 50px;

}
.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
    .paragraph--region {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color:#232f3e;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: none;
  }
  .container{
    color: #232f3e;
    align-items: center;
    background-color: #dddddd;
  }
  .container--text {
    background-color: #232f3e;
  }
.wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color:#dddddd;
}
.paragraph--region2{
  font-family: AmazonEmberRegular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color:#232f3e;
    text-align:center;
    font-weight: 200;
    margin-top: none;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    width: 1000px
}
.container--hello {
  background: #232f3e;
  margin-left:auto;
  margin-right:auto;
  
}
.wrapper--hello {
  background: #232f3e;
}
.wrapper {
  margin-left:auto;
  margin-right:auto
}
}