.imageElement--image3 {
margin-bottom: 150px;
margin-top: 0;
margin-left: 0;
margin-right: 0}

.imageElement--regions {
  background: #3f3f40;
}

.infoCardContainer--infoCard3 {
  margin-left: 160px;
  margin-right: 150px;
  margin-bottom: 100px;
}
.infoCardContainer--infoCard2 {
  max-width: fit-content;
  margin-top: 70px;
  margin-bottom: 0;
  margin-left: 170px;
  margin-right: 180px;
  
}
  
.infoCardContainer--info-card1 {
background: none;
border: 1px solid  #a166ff;
margin: 100px;
}
.infoCardImage--info-card1 {
  width: auto;
  margin-left: 50px;
  }

.infoCardCallActionContainer--info-card1 {
  background-color: #ec7211;
  background-image: linear-gradient(180deg
  ,#f67c1b 0,#e15500);
  color: white;
  font-family: 'lato', san-serif;
  font-size: 14px;
  text-align:center;
  width: 152;
}
.infoCardCallActionTextContainer--info-card1 {
  color: white
}

.logoContainer {
  color:#e6f1e6;
}
.infoCardCallActionContainer :global(.vtex-button__label) {
  background-image: url(assets/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: .8rem;
  margin-right: 1rem;
  transition: .2s;
}

.infoCardCallActionContainer :global(.vtex-button__label):hover {
  background-image: url(assets/arrowWhite.png);
}
.infoCardCallActionContainer :global(.vtex-button) {
  background: none;
  border: none;
  transition: .2s;
  color: #5965e0;
}
.infoCardCallActionContainer :global(.vtex-button):hover {
  background: #5965e0;
  color: #fff;
  border: none;
}

.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer {
  height: 373px;
}

.infoCardTextContainer {
  margin-left: 5rem;
}

.infoCardContainer--info-card-home {
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.infoCardContainer--info-card-banner1 {
  max-width: 100%;
  background-image: url(assets/banner01.jpg);
  background-clip: border-box;
  background-position: right;
}

.infoCardContainer--info-card-banner2 {
  max-width: 1520px;
  margin: 0 auto;
  background-image: url(assets/banner02.png);
  background-clip: border-box;
  background-position: right;
}

.infoCardContainer--info-card-banner3 {
  max-width: 1520px;
  margin: 0 auto;
  background-image: url(assets/banner03.png);
  background-clip: border-box;
  background-position: right;
}

.infoCardContainer--info-card-banner4 {
  max-width: 1520px;
  margin: 0 auto;
  background-image: url(assets/banner04.png);
  background-clip: border-box;
  background-position: right;
}

.infoCardImage {
  padding-left: 4rem;
}

.infoCardHeadline{
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.2;
}

.infoCardSubhead{
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.productBrand {
  color: #ccc;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.shoppingContainer {
  color: #ccc;
}

.productDescriptionTitle {
  color: #ddd;
}

.content {
  color: #ccc;
}


/*Responsividade para telas a partir de 640 pixels*/
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home 
  .infoCardTextContainer 
  .infoCardContainer--info-card-banner1
  .infoCardContainer--info-card-banner2
  .infoCardContainer--info-card-banner3
  .infoCardContainer--info-card-banner4
  .infoCardContainer--info-card-banner5
  {
    width: 30%;
    font-size: 1.8rem;
  }

  .infoCardContainer--info-card-home 
  .infoCardImageContainer
  .infoCardImage 

  {
    width: 70%;
  }

  .infoCardImage {
    padding-left: 0;
    width: 500px;
  }
  
  .infoCardHeadline{
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.2;
  }
  
  .infoCardSubhead{
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
@media (max-width: 700px) {
  .infoCardTextContainer {
    padding-left: 1.5rem;
    margin: 0 auto;
  }
  .infoCardHeadline{
    font-size: 1.5rem;
  }

  .infoCardSubhead{
    font-size: 1rem;
  }

  .infoCardImage {
    width: 15rem;
    margin-left: 6rem;
  }
}

/*Responsividade para telas a partir de 450 pixels*/

@media (max-width: 450px) {

  .infoCardTextContainer {
    padding-left: 1.5rem;
    margin: 0 auto;
  }
  .infoCardHeadline{
    font-size: 1.1rem;
  }

  .infoCardSubhead{
    font-size: .9rem;
  }

  .infoCardImage {
    width: 10rem;
    margin-left: 4rem;
  }
}