.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
  background-color: #37475A;
}
.flexRowContent--main-header-mobile {
  background-color: #37475A;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--containerLeads { 
  background: rgba(46, 63, 82, 0.8);
  display: flex;
  margin: 1rem auto 0 auto;
  width: min(59rem, 70%);
  border-radius: 1rem;
}

.flexCol--containerLeadsCol {
  padding: 0 1rem ;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #232f3e;
  color: #ccc;
}

.flexRowContent--main-header {
  background-color: #232f3e;
  color: #ccc;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #232f3e;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ccc;
  font-size: 14px;
}

.flexRowContent--menu-row :global(.vtex-menu-2-x-styledLink) {
  color: #ccc;
  font-size: 14px;
}

.flexRowContent--credits :global(.vtex-menu-2-x-styledLink) {
  color: #ccc;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #ccc;
  font-size: 15px;
  font-weight: 700;
}
.flexRow--deals {
  background-color: #232f3e;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}
/*responvidade  no container de cadastro do leads*/
@media(max-width: 720px) {
  .flexRow--containerLeads { 
    width: 80%;
  }
}
@media(max-width: 450px) {
  .flexRow--containerLeads { 
    width: 90%;
  }
}
.stretchChildrenWidth{
  padding-right: 50px;
}
.stretchChildrenWidth{
  padding-right: 50px;
}